<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#RECODE-MALE-TO-1,-FEMALE-TO-0" data-toc-modified-id="RECODE-MALE-TO-1,-FEMALE-TO-0-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>RECODE MALE TO 1, FEMALE TO 0</a></span></li><li><span><a href="#LAMBDA-FUNCTION" data-toc-modified-id="LAMBDA-FUNCTION-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>LAMBDA FUNCTION</a></span></li></ul></div>

In [3]:
import numpy as np
import pandas as pd
import re
tips = pd.read_csv('tips.csv')

print(tips.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
for lab, row in tips.iterrows():
    tips.loc[lab, 'total_dollar'] = '$' + str(tips.loc[lab, 'total_bill'])
    
print(tips.head())

   total_bill   tip     sex smoker  day    time  size total_dollar
0       16.99  1.01  Female     No  Sun  Dinner     2       $16.99
1       10.34  1.66    Male     No  Sun  Dinner     3       $10.34
2       21.01  3.50    Male     No  Sun  Dinner     3       $21.01
3       23.68  3.31    Male     No  Sun  Dinner     2       $23.68
4       24.59  3.61  Female     No  Sun  Dinner     4       $24.59

## RECODE MALE TO 1, FEMALE TO 0

In [5]:
# Define recode_sex()
def recode_sex(sex_value):

    # Return 1 if sex_value is 'Male'
    if sex_value == "Male":
        return 1
    
    # Return 0 if sex_value is 'Female'    
    elif sex_value == "Female":
        return 0
    
    # Return np.nan    
    else:
        return np.nan

# Apply the function to the sex column
tips['sex_recode'] = tips.sex.apply(recode_sex)

# Print the first five rows of tips
print(tips.head())

   total_bill   tip     sex smoker  day    time  size total_dollar  sex_recode
0       16.99  1.01  Female     No  Sun  Dinner     2       $16.99           0
1       10.34  1.66    Male     No  Sun  Dinner     3       $10.34           1
2       21.01  3.50    Male     No  Sun  Dinner     3       $21.01           1
3       23.68  3.31    Male     No  Sun  Dinner     2       $23.68           1
4       24.59  3.61  Female     No  Sun  Dinner     4       $24.59           0

## LAMBDA FUNCTION

In [6]:
# Write the lambda function using replace
tips['total_dollar_replace'] = tips.total_dollar.apply(lambda x: x.replace('$', ''))

# Write the lambda function using regular expressions
tips['total_dollar_re'] = tips.total_dollar.apply(lambda x: re.findall('\d+\.\d+', x)[0])

# Print the head of tips
print(tips.head())

   total_bill   tip     sex smoker  day    time  size total_dollar  \
0       16.99  1.01  Female     No  Sun  Dinner     2       $16.99
1       10.34  1.66    Male     No  Sun  Dinner     3       $10.34
2       21.01  3.50    Male     No  Sun  Dinner     3       $21.01
3       23.68  3.31    Male     No  Sun  Dinner     2       $23.68
4       24.59  3.61  Female     No  Sun  Dinner     4       $24.59

   sex_recode total_dollar_replace total_dollar_re
0           0                16.99           16.99
1           1                10.34           10.34
2           1                21.01           21.01
3           1                23.68           23.68
4           0                24.59           24.59