In [1]:
import pandas as pd

## MULTIINDEX ON ROW

In [2]:
medal_types = ['bronze', 'silver', 'gold']
medals_list = []

for medal in medal_types:

    file_name = "%s_top5.csv" % medal

    # Read file_name into a DataFrame: medal_df
    medal_df = pd.read_csv(file_name, index_col='Country')
    
    # Append medal_df to medals
    medals_list.append(medal_df)

# If not specify keys => mess
medals = pd.concat(medals_list)
medals

                 Total
Country
United States   1052.0
Soviet Union     584.0
United Kingdom   505.0
France           475.0
Germany          454.0
United States   1195.0
Soviet Union     627.0
United Kingdom   591.0
France           461.0
Italy            394.0
United States   2088.0
Soviet Union     838.0
United Kingdom   498.0
Italy            460.0
Germany          407.0

In [3]:
# Concatenate medals: medals
medals = pd.concat(medals_list, keys=['bronze', 'silver', 'gold'])

# Print medals
print(medals)

                        Total
       Country
bronze United States   1052.0
       Soviet Union     584.0
       United Kingdom   505.0
       France           475.0
       Germany          454.0
silver United States   1195.0
       Soviet Union     627.0
       United Kingdom   591.0
       France           461.0
       Italy            394.0
gold   United States   2088.0
       Soviet Union     838.0
       United Kingdom   498.0
       Italy            460.0
       Germany          407.0

## SLICE MULTINDEXED DATAFRAMES

In [4]:
# Sort the entries of medals: medals_sorted
medals_sorted = medals.sort_index(level=0)

# Print the number of Bronze medals won by Germany
print(medals_sorted.loc[('bronze','Germany')])

Total    454.0
Name: (bronze, Germany), dtype: float64

In [5]:
# Print data about silver medals
print(medals_sorted.loc['silver'])

                 Total
Country
France           461.0
Italy            394.0
Soviet Union     627.0
United Kingdom   591.0
United States   1195.0

In [6]:
# Create alias for pd.IndexSlice: idx
idx = pd.IndexSlice

# Print all the data on medals won by the United Kingdom
print(medals_sorted.loc[idx[:, "United Kingdom"], : ])

                       Total
       Country
bronze United Kingdom  505.0
gold   United Kingdom  498.0
silver United Kingdom  591.0

## MULTIINDEX ON COLUMNS

In [7]:
# Concatenate medals: medals
medals = pd.concat(medals_list, keys=['bronze', 'silver', 'gold'], axis = 1)
medals

C:\Users\Thanh Thanh\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

                bronze  silver    gold
                 Total   Total   Total
France           475.0   461.0     NaN
Germany          454.0     NaN   407.0
Italy              NaN   394.0   460.0
Soviet Union     584.0   627.0   838.0
United Kingdom   505.0   591.0   498.0
United States   1052.0  1195.0  2088.0

In [8]:
# Index
medals['bronze']

                 Total
France           475.0
Germany          454.0
Italy              NaN
Soviet Union     584.0
United Kingdom   505.0
United States   1052.0

## CONCAT FROM DICT

In [9]:
bronze = pd.read_csv('bronze_top5.csv', index_col = 'Country')
silver = pd.read_csv('silver_top5.csv', index_col = 'Country')
gold = pd.read_csv('gold_top5.csv', index_col = 'Country')
medal_dict = {'bronze': bronze, 'silver': silver, 'gold': gold}
medals = pd.concat(medal_dict)
medals

                        Total
       Country
bronze United States   1052.0
       Soviet Union     584.0
       United Kingdom   505.0
       France           475.0
       Germany          454.0
gold   United States   2088.0
       Soviet Union     838.0
       United Kingdom   498.0
       Italy            460.0
       Germany          407.0
silver United States   1195.0
       Soviet Union     627.0
       United Kingdom   591.0
       France           461.0
       Italy            394.0