<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
import pandas as pd

In [2]:
A = np.arange(8).reshape(2,4) + 0.1
A

array([[0.1, 1.1, 2.1, 3.1],
       [4.1, 5.1, 6.1, 7.1]])

In [3]:
B = np.arange(6).reshape(2,3) + 0.2
B

array([[0.2, 1.2, 2.2],
       [3.2, 4.2, 5.2]])

In [4]:
C = np.arange(12).reshape(3,4) + 0.3
C

array([[ 0.3,  1.3,  2.3,  3.3],
       [ 4.3,  5.3,  6.3,  7.3],
       [ 8.3,  9.3, 10.3, 11.3]])

In [5]:
# Stack arrays horizontally
np.hstack([B, A])

array([[0.2, 1.2, 2.2, 0.1, 1.1, 2.1, 3.1],
       [3.2, 4.2, 5.2, 4.1, 5.1, 6.1, 7.1]])

In [6]:
np.concatenate([B, A], axis = 1)

array([[0.2, 1.2, 2.2, 0.1, 1.1, 2.1, 3.1],
       [3.2, 4.2, 5.2, 4.1, 5.1, 6.1, 7.1]])

In [7]:
# Stack array vertically
np.vstack([A, C])

array([[ 0.1,  1.1,  2.1,  3.1],
       [ 4.1,  5.1,  6.1,  7.1],
       [ 0.3,  1.3,  2.3,  3.3],
       [ 4.3,  5.3,  6.3,  7.3],
       [ 8.3,  9.3, 10.3, 11.3]])

In [8]:
np.concatenate([A, C], axis = 0)

array([[ 0.1,  1.1,  2.1,  3.1],
       [ 4.1,  5.1,  6.1,  7.1],
       [ 0.3,  1.3,  2.3,  3.3],
       [ 4.3,  5.3,  6.3,  7.3],
       [ 8.3,  9.3, 10.3, 11.3]])

In [9]:
# Incompatible array dimensions
np.concatenate([A, B], axis = 0) # Incompatible columns

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [10]:
np.concatenate([A, C], axis = 1) # incompatible rows

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [11]:
# Population & unemployment data
population = pd.read_csv('pop.txt', index_col = 0)
unemployment = pd.read_csv('unemp.txt', index_col = 0)
population

                2010 Census Population
Zip Code ZCTA
57538                              322
59916                              130
37660                            40038
2860                              4519

In [12]:
unemployment

        unemployment   participants
Zip
2860            0.11          34447
46167           0.02           4800
1097            0.33             42
80808           0.07            431

In [13]:
# Converting to arrays
population_array = np.array(population)
population_array # Index info is lost

array([[  322],
       [  130],
       [40038],
       [ 4519]], dtype=int64)

In [14]:
unemployment_array = np.array(unemployment)
print(unemployment_array)

[[1.1000e-01 3.4447e+04]
 [2.0000e-02 4.8000e+03]
 [3.3000e-01 4.2000e+01]
 [7.0000e-02 4.3100e+02]]

In [15]:
# Manipulating data as arrays
np.concatenate([population_array, unemployment_array], axis = 1)

array([[3.2200e+02, 1.1000e-01, 3.4447e+04],
       [1.3000e+02, 2.0000e-02, 4.8000e+03],
       [4.0038e+04, 3.3000e-01, 4.2000e+01],
       [4.5190e+03, 7.0000e-02, 4.3100e+02]])