<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
df = pd.DataFrame([['1980', 'Blondie', 'Call Me', '6'],
       ['1981', 'Chistorpher Cross', 'Arthurs Theme', '3'],
       ['1982', 'Joan Jett', 'I Love Rock and Roll', '7']])

In [2]:
# Build a list of labels: list_labels
list_labels = ["year", "artist", "song", "chart weeks"]

# Assign the list of labels to the columns attribute: df.columns
df.columns = list_labels

In [3]:
df.head()

   year             artist                  song chart weeks
0  1980            Blondie               Call Me           6
1  1981  Chistorpher Cross         Arthurs Theme           3
2  1982          Joan Jett  I Love Rock and Roll           7